<section class="container">
    <div class="container" id="footer">
      <footer class="bg-white my-2 p-2 rounded">
        <p>A class project by Sarah Brager</p>
    </footer> 
    </div>
  </section>
