<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-link active" aria-current="page" href="{{ relative_path }}index.html">Home</a>
   <ul class="nav nav-tabs">
  <li class="nav-item dropdown" id="dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Discover Austin</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="landmarks.html">Landmarks</a></li>
      <li><a class="dropdown-item" href="restaurants.html">Restaurants</a></li>
      <li><a class="dropdown-item" href="activities.html">Activities</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="feedback.html">Give Us Feedback</a></li>
    </ul>
  </li>
</ul>
</div>
</nav>