{% extends '_templates/base.njk' %}

{% block page_title %}Austin activities{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}
<div class="container" id="article-activities">
  <div class="row justify-content-center">
    <div class="column col-md-10 col-lg-8">
      <h1 id="activities-page">Fill your itinerary with these go-to activities</h1>
    </div>
  </div>
 <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-3 justify-content-center">
  <table class="table table-hover table-bordered" id="activity-table">
   <thead>
    <tr class="table-dark">
      <th scope="col">Activity</th>
      <th scope="col">Date and Time</th>
      <th scope="col">Address</th>
    </tr>
   </thead>
  {% for activities in atxdata.activities %}
   <tbody>
    <tr>
      <th scope="row"><a href="{{ activities.url }}" target="_blank">{{ activities.activity }}</a><img src="img/img-austin/activities/{{ activities.image }}" alt="activity image" height=100 width=100></th>
      <td>{{ activities.date_time }}</td>
      <td>{{ activities.address }}</td>
    </tr>
   </tbody>
  {% endfor %}
  </table>
 </div>
</div>
{% endblock %}