{% extends '_templates/base.njk' %}

{% block page_title %}Feedback page{% endblock %}

{% block page_description %}A place for visitors to suggest other additions to the site.{% endblock %}

{% block content %}
<h1>Going to familiarize myself more with Bootstrap forms to put a feedback form here.</h1>
{% endblock %}