{% extends '_templates/base.njk' %}

{% block page_title %}Home page{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="column col-md-10 col-lg-8">
      <h1>Get to know one of the fastest-growing cities in the U.S.</h1>
      <p>Add some interesting facts about Austin here</p>
      <h2>Austin news</h2>
      <p>This loops through data that came from a Google Docs example.</p>
    {% for book in library.books %}
        <img src="img/{{ book.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="books/{{ book.slug }}.html">{{ book.title }}</a></h3>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}