{% extends '_templates/base.njk' %}

{% block page_title %}Home page{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<section class="container" id="article-index">
  <div class="row">
    <div class="col-md-6 col-lg-8">
        <h2>Get to know one of the fastest-growing cities in the U.S. with a few fun facts</h2>
          <ul id="fun-facts">
            <li>The Texas State Capitol is the largest state capitol in the U.S.</li>
            <li>Many well-known movies were filmed in Austin, including Dazed and Confused, Boyhood and Miss Congeniality</li>
            <li>The Ann W. Richards Congress Avenue Bridge is home to the largest bat colony in North America</li>
            <li>Austin is known as one of the most dog-friendly cities in the country</li>
            <li>20 million people visit Austin each year, more than Hawaii, London and Rome</li>
            <li><a href="https://www.kvue.com/article/news/local/40-weird-facts-you-probably-didnt-know-about-austin/269-502675738" target="_blank">Source: KVUE</a></li>
          </ul>
    </div>
    <div class="col-md-6 col-lg-4">
    <figure class="figure">
      <img src="img/img-austin/city-of-austin-logo.gif" class="figure-img img-fluid" alt="City of Austin logo">
    </figure>
    </div>
  </div>
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2 g-4" id="card-titles">
  <div class="col">
    <div class="card">
      <img src="img/img-austin/landmarks/texas-state-capitol-bw.jpg" class="card-img-top" alt="Texas Capitol BW">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ relative_path }}landmarks.html">Landmarks</a></h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/img-austin/restaurants/peached-tortilla.jpg" class="card-img-top" alt="The Peached Tortilla">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ relative_path }}restaurants.html">Restaurants</a></h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/img-austin/austin-kayacking-better.jpeg" class="card-img-top" alt="Tourists kayacking">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ relative_path }}activities.html">Activites</a></h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/img-austin/greetings-from-austin-4.jpg" class="card-img-top" alt="Tourists kayacking">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ relative_path }}murals.html">Murals</a></h5>
      </div>
    </div>
  </div>
  </div>
 </div>
</div>
</section>
{% endblock %}