{% extends '_templates/base.njk' %}

{% block page_title %}Visit some of the most popular spots around the city{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center" id="article-landmarks">
    <div class="column col-md-10 col-lg-8">
      <h1>Visit some of the most popular spots around the city</h1>
    {% for landmark in atxdata.landmarks %}
    <h4><a href="landmarks/{{ landmark.slug }}.html">{{ landmark.name }}</a></h4>
    {{ landmark.activities }}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}