{% extends '_templates/base.njk' %}

{% block page_title %}Visit some of the most popular spots around the city{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="column col-md-10 col-lg-8">
      <h1 href="{{ landmark.url }}">Visit some of the most popular spots around the city</h1>
      <p>Click on the links to learn more about each spot, including ...</p>
    {% for landmark in atxdata.landmarks %}
    <h3>{{ landmark.name }}</h3>
    {{ landmark.activities }}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}