{% extends '_templates/base.njk' %}

{% block page_title %}Visit some of the most popular spots around the city{% endblock %}
{% block content %}
<section class="container" id="article-landmarks">
  <div class="row">
    <div class="col-md-6 col-lg-8" id="landmark-list">
        <h2>Visit some of the most popular spots around town</h2>
        {% for landmark in atxdata.landmarks %}
        <h4><a href="landmarks/{{ landmark.slug }}.html">{{ landmark.name }}</a></h4>
        {{ landmark.activities }}
        {% endfor %}
    </div>
    <div class="col-md-6 col-lg-4">
    <figure class="figure">
      <img src="img/img-austin/landmarks/univ-of-tx-bw.jpg" class="figure-img img-fluid" alt="UT BW">
      <figcaption class="figure-caption">The iconic UT Austin Tower building, which opened in 1937</figcaption>
    </figure>
    </div>
  </div>
</section>
{% endblock %}