{% extends '_templates/base.njk' %}

{% block page_title %}Map of famous Austin murals{% endblock %}

{% block content %}
<div class="container">
 <h2>Explore a map of the most famous Austin murals</h2>
  <div style="min-height:549px"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/LM34a/embed.js?v=4" charset="utf-8"></script><noscript><img src="https://datawrapper.dwcdn.net/LM34a/full.png" alt="" /></noscript></div>
</div>
{% endblock %}