{% extends '_templates/base.njk' %}

{% block page_title %}Austin restuarants{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="column col-md-10 col-lg-8">
        <h1>Top-rated restaurants around the city</h1>
        <p>You'll be eating like a local</p>
      </div>
  </div>
 <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-3 justify-content-center">
  {% for place in restaurants.restaurants %}
  <div class="col">
    <div class="card h-100 text-bg-light border-dark">
      <img class="card-img-top" src="img/img-austin/restaurants/{{ place.image }}" alt="Card image cap">
      <div class="card-body">
        <div class="card-header border-dark">
          <h5 class="card-title">{{ place.name }}</h5>
          <h6 class="card-subhead">{{ place.category }}</h6>
          <p class="card-text pt-3">{{ place.address }}</p>
        </div>
        <div class="card-footer border-dark">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}