/* jumbotron */

#jumbo {
    background: url(../img/img-austin/cmc-austin-dawn-20200614) no-repeat center;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
  }
  
