// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'jumbotron';


.oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2, h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

#article-restaurants, #article-activites {
  font-family: "Oswald", sans-serif;
  font-weight: light;
  text-align: center;
}

#article-index, #article-landmarks {
  font-family: "Oswald", sans-serif;
  font-weight: light;
}

#activities-page {
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}

#indiv-landmarks {
  h1{
    text-align: left;
    font-family: "Oswald", sans-serif;
  }
}

#footer {
  font-family: "Oswald", sans-serif;
  text-align: center;
}